<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsw.MngProductDatabase">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jsw.MngProductDatabase.SplashScreen_Activity"></activity>
        <activity
            android:name="com.jsw.MngProductDatabase.Login_Activity"
            android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jsw.MngProductDatabase.Settings.AccountSettings"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.jsw.MngProductDatabase.Settings.GeneralSettings"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.jsw.MngProductDatabase.Home_Activity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.jsw.MngProductDatabase.SignUp_Activity"
            android:theme="@style/AppTheme.ActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>